.wrapper{
    display: flex;
    flex-direction: column;  
     
}

.main {
    margin-top: 220px;
    margin-right: 998px;
      width: 577px;
 height: 188px;
 font-size: 72px;
 font-family: ubuntu;
 font-weight: 700;
 line-height: 93.6px;
 color: black;
 letter-spacing: 1px;
}
.X {
    color: #FF5A30;
   }
   .paragraph {width: 595px;
    height: 90px;
    margin-top: 24px;
    margin-right: 980px;
    
    font-size: 20px;
    font-family: ubuntu;
    line-height: 30px;
    font-weight: 400;
    color: black;
        }
        .Button {
            width: 526px;
            height: 52px;
            margin-top: 61px;
            margin-bottom: 352px;
            font-size: 16px;
            


        }

         